// app global css in SCSS form

.login-page {
  // padding-top: 200px;
  background-image: url('../../public/img/inicioSesion.jpg');
  background-size: au;
  background-position: center;
  // color: black;
  height: 100vh;
}

.login-container {
  margin-top: 200px;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  // background-color: rgba(2, 9, 0, 0.7);
}
